.root {
    width          : 100vw;
    height         : 100vh;
    position       : absolute;
    top            : 0;
    left           : 0;
    display        : flex;
    justify-content: center;
    align-items    : center;

    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100vw;
    height  : 100vh;
    z-index : 20;

    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;

    color: #ffffff;


    background-color: #16161D;
}

.description {
    padding   : 16px;
    min-height: 50px;
}

.action {
    @media (max-width: 1400px) {
        position       : fixed;
        width          : 100%;
        bottom         : 0;
        left           : 0;
        width          : 50%;
        height         : 50%;
        display        : flex;
        justify-content: end;
        align-items    : center;
    }
}

.controls {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    gap           : 16px;

    max-width: 100vw;

    @media (max-width: 1400px) {
        flex-direction: column;
        align-items   : end;
    }

    .keyboard {
        flex-shrink: 1;
    }

    .mouse {
        flex-shrink   : 1;
        height        : 360px;

        @media (max-width: 1400px) {
            height: 210px;
        }
    }
}