.root {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100vw;
    height  : 100vh;

    display       : flex;
    flex-direction: row;
    overflow      : hidden;
}

.canvas {
    width           : 100vh;
    height          : 100vh;
    background-color: rgba(0, 0, 0, 0.1);
}
